Scraping a wikipedia table https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [5]:
def scrap(url):
    page = requests.get(url) # get request to the url
    statusCode = page.status_code
    
    if statusCode == 200: 
        soup = BeautifulSoup(page.content, 'html.parser') # import raw html into BeautifulSoup
        
        wiki_table = soup.find('table', class_='wikitable sortable') # find table in the class
        
        # create 6 empty lists that will be the 6 columns in df
        symbol_list = [] 
        name_list = []
        sector_list = []
        subsector_list = []
        headquarter_list = []
        added_list = []
        
        count = 0
        
        for row in wiki_table.findAll('tr'): # iterate through each row in table
            cells = row.findAll('td')
            
            if len(cells) == 8: # check if there are 8 columns in the table
                symbol_list.append(cells[0].text.strip())
                name_list.append(cells[1].text.strip())
                sector_list.append(cells[2].text.strip())
                subsector_list.append(cells[3].text.strip())
                headquarter_list.append(cells[4].text.strip())
                added_list.append(cells[5].text.strip())
                
                count+=1 # put this inside if statement to ensure counter is only
                        # incremented for a valid row
            
            if count == 50:
                break

    # a dictionary; key is the column name; value is the list                 
    data = {
        'Ticker': symbol_list,
        'Name': name_list,
        'GICS Sector': sector_list,
        'GICS Sub-Industry': subsector_list,
        'Headquarters': headquarter_list,
        'Date Added': added_list
    }
    
    df = pd.DataFrame(data) # create a df using the dictionary
    return df, symbol_list # returns both dataframe and list of tickers

In [7]:
first_df, tickers = scrap('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_df

,Ticker,Name,GICS Sector,GICS Sub-Industry,Headquarters,Date Added
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06
5,ADBE,Adobe Inc.,Information Technology,Application Software,"San Jose, California",1997-05-05
6,AMD,Advanced Micro Devices,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20
7,AES,AES Corporation,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02
8,AFL,Aflac,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28
9,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,"Santa Clara, California",2000-06-05
10,APD,Air Products and Chemicals,Materials,Industrial Gases,"Allentown, Pennsylvania",1985-04-30
11,ABNB,Airbnb,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","San Francisco, California",2023-09-18
12,AKAM,Akamai,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12
13,ALK,Alaska Air Group,Industrials,Passenger Airlines,"SeaTac, Washington",2016-05-13
14,ALB,Albemarle Corporation,Materials,Specialty Chemicals,"Charlotte, North Carolina",2016-07-01
15,ARE,Alexandria Real Estate Equities,Real Estate,Office REITs,"Pasadena, California",2017-03-20
16,ALGN,Align Technology,Health Care,Health Care Supplies,"Tempe, Arizona",2017-06-19
17,ALLE,Allegion,Industrials,Building Products,"Dublin, Ireland",2013-12-02
18,LNT,Alliant Energy,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01
19,ALL,Allstate,Financials,Property & Casualty Insurance,"Northbrook, Illinois",1995-07-13
20,GOOGL,Alphabet Inc. (Class A),Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03
21,GOOG,Alphabet Inc. (Class C),Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03
22,MO,Altria,Consumer Staples,Tobacco,"Richmond, Virginia",1957-03-04
23,AMZN,Amazon,Consumer Discretionary,Broadline Retail,"Seattle, Washington",2005-11-18
24,AMCR,Amcor,Materials,Paper & Plastic Packaging Products & Materials,"Warmley, Bristol, United Kingdom",2019-06-07
25,AEE,Ameren,Utilities,Multi-Utilities,"St. Louis, Missouri",1991-09-19
26,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas",2015-03-23
27,AEP,American Electric Power,Utilities,Electric Utilities,"Columbus, Ohio",1957-03-04
28,AXP,American Express,Financials,Consumer Finance,"New York City, New York",1976-06-30
29,AIG,American International Group,Financials,Multi-line Insurance,"New York City, New York",1980-03-31
30,AMT,American Tower,Real Estate,Telecom Tower REITs,"Boston, Massachusetts",2007-11-19
31,AWK,American Water Works,Utilities,Water Utilities,"Camden, New Jersey",2016-03-04
32,AMP,Ameriprise Financial,Financials,Asset Management & Custody Banks,"Minneapolis, Minnesota",2005-10-03
33,AME,Ametek,Industrials,Electrical Components & Equipment,"Berwyn, Pennsylvania",2013-09-23
34,AMGN,Amgen,Health Care,Biotechnology,"Thousand Oaks, California",1992-01-02
35,APH,Amphenol,Information Technology,Electronic Components,"Wallingford, Connecticut",2008-09-30
36,ADI,Analog Devices,Information Technology,Semiconductors,"Wilmington, Massachusetts",1999-10-12
37,ANSS,Ansys,Information Technology,Application Software,"Canonsburg, Pennsylvania",2017-06-19
38,AON,Aon,Financials,Insurance Brokers,"London, UK",1996-04-23
39,APA,APA Corporation,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28
40,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30
41,AMAT,Applied Materials,Information Technology,Semiconductor Materials & Equipment,"Santa Clara, California",1995-03-16
42,APTV,Aptiv,Consumer Discretionary,Automotive Parts & Equipment,"Dublin, Ireland",2012-12-24
43,ACGL,Arch Capital Group,Financials,Property & Casualty Insurance,"Hamilton, Bermuda",2022-11-01
44,ADM,Archer-Daniels-Midland,Consumer Staples,Agricultural Products & Services,"Chicago, Illinois",1957-03-04
45,ANET,Arista Networks,Information Technology,Communications Equipment,"Santa Clara, California",2018-08-28
46,AJG,Arthur J. Gallagher & Co.,Financials,Insurance Brokers,"Rolling Meadows, Illinois",2016-05-31
47,AIZ,Assurant,Financials,Multi-line Insurance,"Atlanta, Georgia",2007-04-10
48,T,AT&T,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30
49,ATO,Atmos Energy,Utilities,Gas Utilities,"Dallas, Texas",2019-02-15

Tiingo API

In [9]:
second_df = pd.DataFrame() # create empty dataframe & data will get appended later on

for ticker in tickers:
    
    base_url = 'https://api.tiingo.com/tiingo/daily/'
    f = 'snapshot/locale/us/markets/stocks/tickers/'
    token = '4cd0c549f40db38a6bc8ee76da516e1db0e19440'
    date = '2023-12-01'
    
    headers = {  # from documentation
        'Content-Type': 'application/json'
    }
    
    # making the url 
    url = f'{base_url}{ticker}/prices?startDate={date}&token={token}'
    print(url)

    # making the request
    r = requests.get(url, headers=headers)

    # Checking if the request was successful, only then will we attempt to process the JSON code
    if r.status_code == 200:

        data = r.json()
        
        latest_data = data[-1]  # the latest date is at the end of list

        stock_data = { # a dict with stock data
            'Stock Symbol': ticker,
            'Open': float(latest_data['open']),
            'High': float(latest_data['high']),
            'Low': float(latest_data['low']),
            'Close': float(latest_data['close']),
            'Volume': int(latest_data['volume'])
        }

        # append each row (company) at a time
        second_df = second_df.append(stock_data, ignore_index=True)
        
        print(f'{ticker} open price is {stock_data["Open"]}')
        print(f'{ticker} high price is {stock_data["High"]}')
        print(f'{ticker} low price is {stock_data["Low"]}')
        print(f'{ticker} close price is {stock_data["Close"]}')
        print(f'{ticker} volume is {stock_data["Volume"]}')
        print()
       
    else:
        print("API request was unsuccessful.")

https://api.tiingo.com/tiingo/daily/MMM/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
MMM open price is 104.98
MMM high price is 107.63
MMM low price is 104.96
MMM close price is 107.04
MMM volume is 5764490

https://api.tiingo.com/tiingo/daily/AOS/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AOS open price is 79.85
AOS high price is 80.84
AOS low price is 79.65
AOS close price is 80.59
AOS volume is 1450210

https://api.tiingo.com/tiingo/daily/ABT/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ABT open price is 107.83
ABT high price is 108.665
ABT low price is 106.68
ABT close price is 108.6
ABT volume is 6611835

https://api.tiingo.com/tiingo/daily/ABBV/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ABBV open price is 154.36
ABBV high price is 155.16
ABBV low price is 152.7593
ABBV close price is 154.88
ABBV volume is 7869640

https://api.tiingo.com/tiingo/daily/ACN/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ACN open price is 342.74
ACN high price is 345.39
ACN low price is 340.74
ACN close price is 342.73
ACN volume is 2551254

https://api.tiingo.com/tiingo/daily/ADBE/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ADBE open price is 593.0
ADBE high price is 593.16
ADBE low price is 578.3
ADBE close price is 584.64
ADBE volume is 11315347

https://api.tiingo.com/tiingo/daily/AMD/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AMD open price is 138.89
AMD high price is 141.82
AMD low price is 135.725
AMD close price is 138.0
AMD volume is 76115174

https://api.tiingo.com/tiingo/daily/AES/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AES open price is 19.75
AES high price is 20.24
AES low price is 19.45
AES close price is 19.63
AES volume is 10522630

https://api.tiingo.com/tiingo/daily/AFL/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AFL open price is 84.07
AFL high price is 84.17
AFL low price is 80.71
AFL close price is 81.28
AFL volume is 3841619

https://api.tiingo.com/tiingo/daily/A/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
A open price is 135.0
A high price is 138.17
A low price is 135.0
A close price is 137.96
A volume is 2950536

https://api.tiingo.com/tiingo/daily/APD/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
APD open price is 270.4
APD high price is 273.4
APD low price is 270.0
APD close price is 270.81
APD volume is 1372788

https://api.tiingo.com/tiingo/daily/ABNB/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ABNB open price is 145.0
ABNB high price is 149.92
ABNB low price is 144.98
ABNB close price is 147.26
ABNB volume is 9568622

https://api.tiingo.com/tiingo/daily/AKAM/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AKAM open price is 117.65
AKAM high price is 119.66
AKAM low price is 117.49
AKAM close price is 118.33
AKAM volume is 2500488

https://api.tiingo.com/tiingo/daily/ALK/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ALK open price is 39.2
ALK high price is 39.32
ALK low price is 38.35
ALK close price is 39.16
ALK volume is 4972813

https://api.tiingo.com/tiingo/daily/ALB/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ALB open price is 143.5
ALB high price is 148.77
ALB low price is 143.35
ALB close price is 145.89
ALB volume is 5668483

https://api.tiingo.com/tiingo/daily/ARE/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ARE open price is 129.59
ARE high price is 135.445
ARE low price is 129.59
ARE close price is 134.45
ARE volume is 3055447

https://api.tiingo.com/tiingo/daily/ALGN/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ALGN open price is 245.0
ALGN high price is 264.5799
ALGN low price is 245.0
ALGN close price is 257.02
ALGN volume is 3288999

https://api.tiingo.com/tiingo/daily/ALLE/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ALLE open price is 112.37
ALLE high price is 118.939
ALLE low price is 112.26
ALLE close price is 118.58
ALLE volume is 1939866

https://api.tiingo.com/tiingo/daily/LNT/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
LNT open price is 53.59
LNT high price is 53.85
LNT low price is 52.12
LNT close price is 52.19
LNT volume is 2401934

https://api.tiingo.com/tiingo/daily/ALL/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ALL open price is 143.95
ALL high price is 144.09
ALL low price is 139.02
ALL close price is 139.24
ALL volume is 2535519

https://api.tiingo.com/tiingo/daily/GOOGL/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
GOOGL open price is 133.38
GOOGL high price is 133.72
GOOGL low price is 129.685
GOOGL close price is 131.94
GOOGL volume is 38722413

https://api.tiingo.com/tiingo/daily/GOOG/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
GOOG open price is 134.77
GOOG high price is 135.035
GOOG low price is 131.06
GOOG close price is 133.2
GOOG volume is 29619098

https://api.tiingo.com/tiingo/daily/MO/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
MO open price is 42.33
MO high price is 42.85
MO low price is 42.06
MO close price is 42.11
MO volume is 12031569

https://api.tiingo.com/tiingo/daily/AMZN/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AMZN open price is 149.93
AMZN high price is 150.54
AMZN low price is 145.52
AMZN close price is 147.42
AMZN volume is 58400848

https://api.tiingo.com/tiingo/daily/AMCR/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AMCR open price is 9.81
AMCR high price is 9.977
AMCR low price is 9.69
AMCR close price is 9.71
AMCR volume is 18678897

https://api.tiingo.com/tiingo/daily/AEE/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AEE open price is 81.75
AEE high price is 82.09
AEE low price is 74.57
AEE close price is 75.02
AEE volume is 7698224

https://api.tiingo.com/tiingo/daily/AAL/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AAL open price is 14.3
AAL high price is 14.65
AAL low price is 14.27
AAL close price is 14.59
AAL volume is 42803869

https://api.tiingo.com/tiingo/daily/AEP/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AEP open price is 83.92
AEP high price is 84.685
AEP low price is 83.17
AEP close price is 83.33
AEP volume is 6941618

https://api.tiingo.com/tiingo/daily/AXP/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AXP open price is 175.74
AXP high price is 179.9
AXP low price is 175.6
AXP close price is 178.86
AXP volume is 4548159

https://api.tiingo.com/tiingo/daily/AIG/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AIG open price is 67.42
AIG high price is 67.69
AIG low price is 66.19
AIG close price is 66.49
AIG volume is 5215490

https://api.tiingo.com/tiingo/daily/AMT/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AMT open price is 215.46
AMT high price is 218.48
AMT low price is 211.24
AMT close price is 212.17
AMT volume is 2975050

https://api.tiingo.com/tiingo/daily/AWK/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AWK open price is 136.7
AWK high price is 137.43
AWK low price is 133.75
AWK close price is 134.49
AWK volume is 1253565

https://api.tiingo.com/tiingo/daily/AMP/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AMP open price is 373.78
AMP high price is 380.29
AMP low price is 371.6
AMP close price is 379.98
AMP volume is 785699

https://api.tiingo.com/tiingo/daily/AME/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AME open price is 162.72
AME high price is 164.55
AME low price is 162.02
AME close price is 164.07
AME volume is 1443953

https://api.tiingo.com/tiingo/daily/AMGN/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440

AMGN open price is 281.32
AMGN high price is 282.73
AMGN low price is 274.08
AMGN close price is 276.32
AMGN volume is 2935224

https://api.tiingo.com/tiingo/daily/APH/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
APH open price is 96.93
APH high price is 98.87
APH low price is 96.685
APH close price is 98.81
APH volume is 4056704

https://api.tiingo.com/tiingo/daily/ADI/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ADI open price is 193.19
ADI high price is 200.26
ADI low price is 193.19
ADI close price is 200.17
ADI volume is 5610167

https://api.tiingo.com/tiingo/daily/ANSS/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ANSS open price is 299.99
ANSS high price is 303.29
ANSS low price is 293.4223
ANSS close price is 294.9
ANSS volume is 864708

https://api.tiingo.com/tiingo/daily/AON/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AON open price is 335.33
AON high price is 335.33
AON low price is 316.18
AON close price is 318.03
AON volume is 1927352

https://api.tiingo.com/tiingo/daily/APA/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
APA open price is 35.57
APA high price is 36.21
APA low price is 35.44
APA close price is 35.74
APA volume is 5938676

https://api.tiingo.com/tiingo/daily/AAPL/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AAPL open price is 198.02
AAPL high price is 199.62
AAPL low price is 196.16
AAPL close price is 198.11
AAPL volume is 66831572

https://api.tiingo.com/tiingo/daily/AMAT/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AMAT open price is 157.77
AMAT high price is 163.06
AMAT low price is 157.705
AMAT close price is 161.74
AMAT volume is 7401171

https://api.tiingo.com/tiingo/daily/APTV/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
APTV open price is 83.24
APTV high price is 88.85
APTV low price is 82.5
APTV close price is 88.85
APTV volume is 5038662

https://api.tiingo.com/tiingo/daily/ACGL/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ACGL open price is 77.98
ACGL high price is 78.0
ACGL low price is 74.005
ACGL close price is 74.67
ACGL volume is 3856340

https://api.tiingo.com/tiingo/daily/ADM/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ADM open price is 75.48
ADM high price is 77.35
ADM low price is 75.48
ADM close price is 76.42
ADM volume is 3863750

https://api.tiingo.com/tiingo/daily/ANET/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ANET open price is 230.52
ANET high price is 234.4
ANET low price is 227.23
ANET close price is 231.03
ANET volume is 2269690

https://api.tiingo.com/tiingo/daily/AJG/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AJG open price is 243.42
AJG high price is 246.095
AJG low price is 223.12
AJG close price is 227.04
AJG volume is 3462797

https://api.tiingo.com/tiingo/daily/AIZ/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
AIZ open price is 170.61
AIZ high price is 171.11
AIZ low price is 164.255
AIZ close price is 164.3
AIZ volume is 621380

https://api.tiingo.com/tiingo/daily/T/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
T open price is 16.51
T high price is 16.81
T low price is 16.51
T close price is 16.65
T volume is 53592169

https://api.tiingo.com/tiingo/daily/ATO/prices?startDate=2023-12-01&token=4cd0c549f40db38a6bc8ee76da516e1db0e19440
ATO open price is 117.4
ATO high price is 118.27
ATO low price is 115.23
ATO close price is 115.39
ATO volume is 1317948

In [11]:
second_df

   Stock Symbol    Open      High       Low   Close      Volume
0           MMM  104.98  107.6300  104.9600  107.04   5764490.0
1           AOS   79.85   80.8400   79.6500   80.59   1450210.0
2           ABT  107.83  108.6650  106.6800  108.60   6611835.0
3          ABBV  154.36  155.1600  152.7593  154.88   7869640.0
4           ACN  342.74  345.3900  340.7400  342.73   2551254.0
5          ADBE  593.00  593.1600  578.3000  584.64  11315347.0
6           AMD  138.89  141.8200  135.7250  138.00  76115174.0
7           AES   19.75   20.2400   19.4500   19.63  10522630.0
8           AFL   84.07   84.1700   80.7100   81.28   3841619.0
9             A  135.00  138.1700  135.0000  137.96   2950536.0
10          APD  270.40  273.4000  270.0000  270.81   1372788.0
11         ABNB  145.00  149.9200  144.9800  147.26   9568622.0
12         AKAM  117.65  119.6600  117.4900  118.33   2500488.0
13          ALK   39.20   39.3200   38.3500   39.16   4972813.0
14          ALB  143.50  148.7700  143.3500  145.89   5668483.0
15          ARE  129.59  135.4450  129.5900  134.45   3055447.0
16         ALGN  245.00  264.5799  245.0000  257.02   3288999.0
17         ALLE  112.37  118.9390  112.2600  118.58   1939866.0
18          LNT   53.59   53.8500   52.1200   52.19   2401934.0
19          ALL  143.95  144.0900  139.0200  139.24   2535519.0
20        GOOGL  133.38  133.7200  129.6850  131.94  38722413.0
21         GOOG  134.77  135.0350  131.0600  133.20  29619098.0
22           MO   42.33   42.8500   42.0600   42.11  12031569.0
23         AMZN  149.93  150.5400  145.5200  147.42  58400848.0
24         AMCR    9.81    9.9770    9.6900    9.71  18678897.0
25          AEE   81.75   82.0900   74.5700   75.02   7698224.0
26          AAL   14.30   14.6500   14.2700   14.59  42803869.0
27          AEP   83.92   84.6850   83.1700   83.33   6941618.0
28          AXP  175.74  179.9000  175.6000  178.86   4548159.0
29          AIG   67.42   67.6900   66.1900   66.49   5215490.0
30          AMT  215.46  218.4800  211.2400  212.17   2975050.0
31          AWK  136.70  137.4300  133.7500  134.49   1253565.0
32          AMP  373.78  380.2900  371.6000  379.98    785699.0
33          AME  162.72  164.5500  162.0200  164.07   1443953.0
34         AMGN  281.32  282.7300  274.0800  276.32   2935224.0
35          APH   96.93   98.8700   96.6850   98.81   4056704.0
36          ADI  193.19  200.2600  193.1900  200.17   5610167.0
37         ANSS  299.99  303.2900  293.4223  294.90    864708.0
38          AON  335.33  335.3300  316.1800  318.03   1927352.0
39          APA   35.57   36.2100   35.4400   35.74   5938676.0
40         AAPL  198.02  199.6200  196.1600  198.11  66831572.0
41         AMAT  157.77  163.0600  157.7050  161.74   7401171.0
42         APTV   83.24   88.8500   82.5000   88.85   5038662.0
43         ACGL   77.98   78.0000   74.0050   74.67   3856340.0
44          ADM   75.48   77.3500   75.4800   76.42   3863750.0
45         ANET  230.52  234.4000  227.2300  231.03   2269690.0
46          AJG  243.42  246.0950  223.1200  227.04   3462797.0
47          AIZ  170.61  171.1100  164.2550  164.30    621380.0
48            T   16.51   16.8100   16.5100   16.65  53592169.0
49          ATO  117.40  118.2700  115.2300  115.39   1317948.0

In [12]:
# Inner join on 'Ticker' from fir_df and Stock Symbol from second_df

merged_df = pd.merge(first_df, second_df, left_on='Ticker', right_on='Stock Symbol', how='inner')
merged_df

,Ticker,Name,GICS Sector,GICS Sub-Industry,Headquarters,Date Added,Stock Symbol,Open,High,Low,Close,Volume
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,MMM,104.98,107.6300,104.9600,107.04,5764490.0
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,AOS,79.85,80.8400,79.6500,80.59,1450210.0
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,ABT,107.83,108.6650,106.6800,108.60,6611835.0
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,ABBV,154.36,155.1600,152.7593,154.88,7869640.0
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,ACN,342.74,345.3900,340.7400,342.73,2551254.0
5,ADBE,Adobe Inc.,Information Technology,Application Software,"San Jose, California",1997-05-05,ADBE,593.00,593.1600,578.3000,584.64,11315347.0
6,AMD,Advanced Micro Devices,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,AMD,138.89,141.8200,135.7250,138.00,76115174.0
7,AES,AES Corporation,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,AES,19.75,20.2400,19.4500,19.63,10522630.0
8,AFL,Aflac,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28,AFL,84.07,84.1700,80.7100,81.28,3841619.0
9,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,"Santa Clara, California",2000-06-05,A,135.00,138.1700,135.0000,137.96,2950536.0
10,APD,Air Products and Chemicals,Materials,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,APD,270.40,273.4000,270.0000,270.81,1372788.0
11,ABNB,Airbnb,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","San Francisco, California",2023-09-18,ABNB,145.00,149.9200,144.9800,147.26,9568622.0
12,AKAM,Akamai,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,AKAM,117.65,119.6600,117.4900,118.33,2500488.0
13,ALK,Alaska Air Group,Industrials,Passenger Airlines,"SeaTac, Washington",2016-05-13,ALK,39.20,39.3200,38.3500,39.16,4972813.0
14,ALB,Albemarle Corporation,Materials,Specialty Chemicals,"Charlotte, North Carolina",2016-07-01,ALB,143.50,148.7700,143.3500,145.89,5668483.0
15,ARE,Alexandria Real Estate Equities,Real Estate,Office REITs,"Pasadena, California",2017-03-20,ARE,129.59,135.4450,129.5900,134.45,3055447.0
16,ALGN,Align Technology,Health Care,Health Care Supplies,"Tempe, Arizona",2017-06-19,ALGN,245.00,264.5799,245.0000,257.02,3288999.0
17,ALLE,Allegion,Industrials,Building Products,"Dublin, Ireland",2013-12-02,ALLE,112.37,118.9390,112.2600,118.58,1939866.0
18,LNT,Alliant Energy,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,LNT,53.59,53.8500,52.1200,52.19,2401934.0
19,ALL,Allstate,Financials,Property & Casualty Insurance,"Northbrook, Illinois",1995-07-13,ALL,143.95,144.0900,139.0200,139.24,2535519.0
20,GOOGL,Alphabet Inc. (Class A),Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,GOOGL,133.38,133.7200,129.6850,131.94,38722413.0
21,GOOG,Alphabet Inc. (Class C),Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,GOOG,134.77,135.0350,131.0600,133.20,29619098.0
22,MO,Altria,Consumer Staples,Tobacco,"Richmond, Virginia",1957-03-04,MO,42.33,42.8500,42.0600,42.11,12031569.0
23,AMZN,Amazon,Consumer Discretionary,Broadline Retail,"Seattle, Washington",2005-11-18,AMZN,149.93,150.5400,145.5200,147.42,58400848.0
24,AMCR,Amcor,Materials,Paper & Plastic Packaging Products & Materials,"Warmley, Bristol, United Kingdom",2019-06-07,AMCR,9.81,9.9770,9.6900,9.71,18678897.0
25,AEE,Ameren,Utilities,Multi-Utilities,"St. Louis, Missouri",1991-09-19,AEE,81.75,82.0900,74.5700,75.02,7698224.0
26,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas",2015-03-23,AAL,14.30,14.6500,14.2700,14.59,42803869.0
27,AEP,American Electric Power,Utilities,Electric Utilities,"Columbus, Ohio",1957-03-04,AEP,83.92,84.6850,83.1700,83.33,6941618.0
28,AXP,American Express,Financials,Consumer Finance,"New York City, New York",1976-06-30,AXP,175.74,179.9000,175.6000,178.86,4548159.0
29,AIG,American International Group,Financials,Multi-line Insurance,"New York City, New York",1980-03-31,AIG,67.42,67.6900,66.1900,66.49,5215490.0
30,AMT,American Tower,Real Estate,Telecom Tower REITs,"Boston, Massachusetts",2007-11-19,AMT,215.46,218.4800,211.2400,212.17,2975050.0
31,AWK,American Water Works,Utilities,Water Utilities,"Camden, New Jersey",2016-03-04,AWK,136.70,137.4300,133.7500,134.49,1253565.0
32,AMP,Ameriprise Financial,Financials,Asset Management & Custody Banks,"Minneapolis, Minnesota",2005-10-03,AMP,373.78,380.2900,371.6000,379.98,785699.0
33,AME,Ametek,Industrials,Electrical Components & Equipment,"Berwyn, Pennsylvania",2013-09-23,AME,162.72,164.5500,162.0200,164.07,1443953.0
34,AMGN,Amgen,Health Care,Biotechnology,"Thousand Oaks, California",1992-01-02,AMGN,281.32,282.7300,274.0800,276.32,2935224.0
35,APH,Amphenol,Information Technology,Electronic Components,"Wallingford, Connecticut",2008-09-30,APH,96.93,98.8700,96.6850,98.81,4056704.0
36,ADI,Analog Devices,Information Technology,Semiconductors,"Wilmington, Massachusetts",1999-10-12,ADI,193.19,200.2600,193.1900,200.17,5610167.0
37,ANSS,Ansys,Information Technology,Application Software,"Canonsburg, Pennsylvania",2017-06-19,ANSS,299.99,303.2900,293.4223,294.90,864708.0
38,AON,Aon,Financials,Insurance Brokers,"London, UK",1996-04-23,AON,335.33,335.3300,316.1800,318.03,1927352.0
39,APA,APA Corporation,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,APA,35.57,36.2100,35.4400,35.74,5938676.0
40,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,AAPL,198.02,199.6200,196.1600,198.11,66831572.0
41,AMAT,Applied Materials,Information Technology,Semiconductor Materials & Equipment,"Santa Clara, California",1995-03-16,AMAT,157.77,163.0600,157.7050,161.74,7401171.0
42,APTV,Aptiv,Consumer Discretionary,Automotive Parts & Equipment,"Dublin, Ireland",2012-12-24,APTV,83.24,88.8500,82.5000,88.85,5038662.0
43,ACGL,Arch Capital Group,Financials,Property & Casualty Insurance,"Hamilton, Bermuda",2022-11-01,ACGL,77.98,78.0000,74.0050,74.67,3856340.0
44,ADM,Archer-Daniels-Midland,Consumer Staples,Agricultural Products & Services,"Chicago, Illinois",1957-03-04,ADM,75.48,77.3500,75.4800,76.42,3863750.0
45,ANET,Arista Networks,Information Technology,Communications Equipment,"Santa Clara, California",2018-08-28,ANET,230.52,234.4000,227.2300,231.03,2269690.0
46,AJG,Arthur J. Gallagher & Co.,Financials,Insurance Brokers,"Rolling Meadows, Illinois",2016-05-31,AJG,243.42,246.0950,223.1200,227.04,3462797.0
47,AIZ,Assurant,Financials,Multi-line Insurance,"Atlanta, Georgia",2007-04-10,AIZ,170.61,171.1100,164.2550,164.30,621380.0
48,T,AT&T,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30,T,16.51,16.8100,16.5100,16.65,53592169.0
49,ATO,Atmos Energy,Utilities,Gas Utilities,"Dallas, Texas",2019-02-15,ATO,117.40,118.2700,115.2300,115.39,1317948.0

In [13]:
merged_df.describe()

             Open        High         Low       Close        Volume
count   50.000000   50.000000   50.000000   50.000000  5.000000e+01
mean   151.120200  153.507218  148.355032  150.596600  1.134009e+07
std    108.528086  109.367349  106.048257  107.324303  1.796356e+07
min      9.810000    9.977000    9.690000    9.710000  6.213800e+05
25%     82.122500   82.610000   79.915000   80.762500  2.509246e+06
50%    134.885000  136.437500  132.405000  134.470000  4.302432e+06
75%    188.827500  194.690000  188.792500  193.297500  7.826786e+06
max    593.000000  593.160000  578.300000  584.640000  7.611517e+07

In [14]:
merged_df.to_csv('merged_stock.csv', index = False)